<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .app{
            padding:20px;
        }
        ul,li{
            list-style: none;
        }
    </style>
</head>
<body>

    <div id="app" class="app">
            <uk-upload 
            v-model="fileList" 
            :token-url="['111','222']" 
            list-type="card" 
            :enable-upload="false"
            :show-file-name="true"
            :preview-mode="false"
            >
        </uk-upload>
    </div>





<!-- uk-upload -->
    <div id="template" style="display:none">
        <div class="uk-upload uk-upload-clearfix">
            <input v-if="multiple" multiple="multiple" ref='file' type="file" style="display:none;" @change="onFileChange">
            <input v-else ref='file' type="file" style="display:none;" @change="onFileChange">
            <div class="uk-upload-text" v-if="!previewMode && listType !== 'card'">
                <button class="uk-upload-text-btn" @click="openFileBrowser" :disabled="!enableUpload">上传文件</button>
            </div>
            <template v-if="listType === 'card'">
                <div class="uk-upload-item" v-for="file in fileList">
                    <div class="uk-upload-item-wrap">
                        <div class="uk-upload-item-content">
                            <span class="uk-upload-item-remove" @click="handleRemoveFile(file)" v-if="!previewMode">×</span>
                            <div class="uk-upload-full uk-upload-img-wrap">
                                <img :src="file.thumbSrc" v-if="supportView || file.status==='success'" @click="openPreviewDialog(file)" class="uk-upload-img"
                                />
                            </div>
                            <div class="uk-upload-mask" v-show="file.status!=='success'">
                                <div class="uk-upload-progress" v-show="file.status =='pending'">
                                    <span class="uk-upload-progress-bar">{{file.progress}}%</span>
                                </div>
                                <span class="uk-upload-error" v-if="file.status==='error'">!</span>
                            </div>
                            <div v-if="showFileName" class="uk-upload-file-name" :title="file.name">{{file.name}}</div>
                        </div>
                    </div>
                </div>
                <div class="uk-upload-item" v-if="!previewMode" v-show="enableUpload">
                    <div class="uk-upload-item-wrap">
                        <div class="uk-upload-item-content uk-upload-add-btn" @click="openFileBrowser">
                            <div class="uk-upload-full uk-upload-add-btn">
                                <span class="uk-upload-add-icon">+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <ul v-else>
                <li class="uk-upload-list-item" v-for="file in fileList">
                    <div class="uk-upload-list-name uk-upload-clearfix">
                        <span class="uk-upload-list-title" :class="{'uk-upload-list-error':file.status === 'error'}" @click="openPreviewDialog(file)">{{file.name}}</span>
                        <span class="uk-upload-list-icons uk-upload-right" v-if="!previewMode">
                            <span class="uk-upload-list-tip" v-if="file.status === 'pending'">{{file.progress}}%</span>
                            <template v-if="file.status === 'error'">
                                <span class="uk-upload-list-retry" title="重试" @click="reload(file)"><i class="iconfont icon-retry"></i></span>
                                <span class="uk-upload-list-tip uk-upload-list-error"><i class="iconfont icon-iconsb"></i></span>
                            </template>
                            <span class="uk-upload-list-tip" v-if="file.status === 'success'"><i class="iconfont icon-icon-check-solid"></i></span>
                            <span v-if="file.status === 'waiting'" class="uk-upload-list-tip uk-upload-list-wait"><i class="iconfont icon-waiting"></i></span>
                            <span class="uk-upload-list-remove" @click="handleRemoveFile(file)" title="删除">×</span>
                        </span>
                    </div>
                    <div class="uk-upload-list-progress" v-if="file.status === 'pending'">
                        <div class="uk-upload-list-progress-bar" :class="{'uk-upload-error-bar':file.status === 'error'}" :style="{width:file.progress + '%'}"></div>
                    </div>
                    
                </li>
            </ul>
            <uk-previewer :file-list="fileList" :visible.sync="showPreviewDialog" :index="index"></uk-previewer>
        </div>
    </div>
    <!-- uk-upload end -->




     <!-- uk-previewer -->
     <div style="display:none;" id="previewer">
        <div class="uk-previewer" v-show="visible">
                <div class="uk-previewer-image-wrapper" v-show="loadState === 'success'" :style="{transform:transform,left:left,top:top}" ref="imageBox" @mousedown="mousedown($event)"
                    @mousemove="mousemove">
                    <img :src="fileSrc" @load="handleImageLoad($event,'success')" @dragstart="handleImageDragStart($event)"
                        @error="handleImageLoad($event,'error')">
                </div>
                <div v-show="loadState === 'pending'" class="uk-previewer-loading">
                    <i class="iconfont icon-loading"></i>
                </div>
                <div v-show="loadState === 'error'" class="uk-previewer-error">
                    <i class="iconfont icon-loading-error"></i>
                </div>
                <div class="uk-previewer-close-btn" @click="closePreviewer">×</div>
                <div class="uk-previewer-prev-btn" @click="prevFile">&lt;</div>
                <div class="uk-previewer-next-btn" @click="nextFile">&gt;</div>
                <div class="uk-previewer-footer">
                    <div>{{computedIndex}}/{{computedCount}}</div>
                    <div class="uk-previewer-toolbar">
                        <button @click="rotate(-90)" title="向左旋转">
                            <i class="iconfont icon-xuanzhuan1"></i>
                        </button>
                        <button @click="rotate(90)" title="向右旋转">
                            <i class="iconfont icon-xuanzhuan"></i>
                        </button>
                        <button @click="setLocationCenter" title="居中">
                            <i class="iconfont icon-juzhong"></i>
                        </button>
                        <button @click="scale(1,true)" title="原始大小">
                            <i class="iconfont icon-yuanshidaxiao"></i>
                        </button>
                        <button @click="scale(0.2)" title="放大">
                            <i class="iconfont icon-fangda"></i>
                        </button>
                        <button @click="scale(-0.2)" title="缩小">
                            <i class="iconfont icon-suoxiao"></i>
                        </button>
                        <button @click="prevFile" title="上一个">
                            <i class="iconfont icon-jiantou"></i>
                        </button>
                        <button @click="nextFile" title="下一个">
                            <i class="iconfont icon-endarrow"></i>
                        </button>
                    </div>
                </div>
        </div>
    </div>
    <!-- uk-previewer end -->







        <!-- <link rel="stylesheet" href="uk-previewer.css"> -->
        <link rel="stylesheet" href="uk-upload.css">
        <link rel="stylesheet" href="uk-previewer.css">
        
        <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
        <script src="uploader.js"></script>
        <script src="uk-previewer.js"></script>
        <script src="uk-upload.js"></script>

    <script>

      






        new Vue({
            el:"#app",
            data:function(){
                return{
                    fileList:[{src:'http://ooydngjcf.bkt.clouddn.com/Contract.E00EFDA4.png',status:'error'},
                       {src:'http://ooydngjcf.bkt.clouddn.com/Contract.8036359D.png',status:'success'},
                       {src:'http://ooydngjcf.bkt.clouddn.com/Contract.8036359D.png',status:'pending'},
                       {src:'http://ooydngjcf.bkt.clouddn.com/Contract.3A54B8D2.png',status:'waiting'}]
                }
            },
            methods:{

            }
        })
    </script>
</body>
</html>