<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .mask {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
        }

        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .preview-dialog {
            width: 80%;
            height: 80%;
        }





     
    </style>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="mask">
            <div class="preview-dialog center">
                    <uk-video-player :src="src" type="video"></uk-video-player>
            </div>
            <button @click="nextVideo">下一个视频</button>
        </div>
    <!-- <uk-video-player :src="src"></uk-video-player> -->
    
    </div>





<div id="template" style="display:none">
    <div class="video-player" ref="videobox" :class="{'video-player-fullscreen':isFullScreen,'video-player-toolbar-show':showToolbar}"
        @mousemove="mousemove">
        <template v-if="type === 'video'">
            <div class="video-player-load-error" v-show="!loadStatus">
                <span class="video-player-layout-center">
                    <div class="video-player-text-center">
                        <i class="iconfont icon-jiazaishibaitidaiicon"></i>
                    </div>
                    <div class="video-player-text-center">视频加载失败</div>
                </span>

            </div>
            <span class="video-player-loading video-player-layout-center" v-show="isLoading">缓冲中...</span>
            <video v-show="loadStatus" @playing="playing" @waiting="waiting" @error="loadError" @dblclick="onScreen" @click="onPlay"
                ref="video" class="video-player-video" :class="{'video-player-fullscreen':isFullScreen}" @timeupdate="timeupdate"
                @canplay="canplay" :src="src"></video>
        </template>
        <template v-if="type === 'audio'">
            <div class="video-player-audio-window">
                <span class="video-player-layout-center">
                    <div class="video-player-text-center">
                        <i class="iconfont icon-yinpin"></i>
                    </div>
                    <div class="video-player-text-center" v-show="!loadStatus">音频加载失败</div>
                </span>

            </div>
            <span class="video-player-loading video-player-layout-center" v-show="isLoading">缓冲中...</span>

            <audio v-show="loadStatus" @playing="playing" @waiting="waiting" @error="loadError" @dblclick="onScreen" @click="onPlay"
                ref="video" class="video-player-video" :class="{'video-player-fullscreen':isFullScreen}" @timeupdate="timeupdate"
                @canplay="canplay" :src="src"></audio>
        </template>
        <div class="video-player-toolbar">
            <div class="video-player-progress" @mousemove="getHoverTime" @click="setProgress($event)" ref='progressbar'>
                <div class="video-player-progressbar">
                    <span class="video-player-hover-time" :style="{left:hoverleft}" ref="hovertime">{{hovertime | formatTime}}</span>
                    <div class="video-player-progress-played" :style="{width:progress}"></div>
                </div>
            </div>
            <div class="video-player-controls video-player-clearfix">
                <button class="video-player-playbtn video-player-left" @click="onPlay">
                    <i class="iconfont" :class="this.paused? 'icon-iconset0481' : 'icon-icon-'"></i>
                </button>
                <span class="video-player-times video-player-left">{{currentTime | formatTime}}/{{duration | formatTime}}</span>
                <button class="video-player-fullscreen-btn video-player-right" @click="onScreen">
                    <i class="iconfont" :class="isFullScreen ? 'icon-tuichuquanping' : 'icon-quanping'"></i>
                </button>
                <button class="video-player-rate-btn video-player-right" @click.stop="openRateList">
                    {{this.playbackRate == 1 ? '倍速' : (this.playbackRate + 'x')}}
                    <ul class="video-player-rate-list" v-show="showRate">
                        <li @click.stop="setPlaybackRate(item)" class="video-player-rate-item" v-for="item in rateList">{{item}}x</li>
                    </ul>
                </button>
            </div>
        </div>
    </div>
</div>



</body>
<link rel="stylesheet" href="font-uk-video-player/iconfont.css">

<link rel="stylesheet" href="uk-video-player.css">
<script src="uk-video-player.js"></script>
<script>

    new Vue({
        el:"#app",
        data:function(){
            return {
                index:0,
                src:'',
                srcList:[
                    'http://vjs.zencdn.net/v/oceans.mp4 ',
                    'http://ohjdda8lm.bkt.clouddn.com/course/sample1.mp4',
                    'http://yun.it7090.com/video/XHLaunchAd/video02.mp4',
                    'http://www.w3school.com.cn/i/movie.ogg',
                    'http://www.w3school.com.cn/example/html5/mov_bbb.mp4',
                    'http://yun.it7090.com/video/XHLaunchAd/video03.mp4',
                    'http://yun.it7090.com/video/XHLaunchAd/video01.mp4'

                ]
            }
        },
        methods:{
            nextVideo:function(){
                    var index = this.index + 1;
                    this.index = index;
                    if(index >= this.srcList.length){
                        this.index = index = 0;
                    }
                    this.src = this.srcList[index];
                
            }
        }
    })
</script>
</html>